/* src/components/Column.css */
.column {
    padding: 5px;
    width: 275px;
    min-height: 400px;
  }
  
  .columnheading{
    font-size: 13px;
    font-weight: bold;
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 22px;

    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 10px 5px 10px;
  }
  
  .columndetails{
    display: flex;
    flex-wrap: wrap;;
    gap: 10px;
  }

  .columnedit{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  #cardnumber{
    color: #9fa1a0;
  }
  
  .img{
    height:16px;
    width:16px;
  }